<nav class="layout-header">
  <div class="container">
    <a href="#">Our Story</a>
    <a href="#">Wedding Party</a>
    <a href="#">The Big Day</a>
    <a href="#">Travel And Events</a>
    <a href="#">Registry</a>
    <a href="#" class="button">RSVP</a>
  </div>
</nav>