<nav class="layout-header">
  <div class="container">
    <a href="#">Our Story</a>
    <a href="#">Wedding Party</a>
    <a href="#">The Big Day</a>
    <a href="#">Travel</a>
    <a href="#">Events</a>
    <a href="#">Gifts</a>
  </div>
</nav>