.layout-header {
  @include box-shadow(0 1px 2px rgba(0,0,0,.1));
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  padding:1.25rem 0 1.15rem;
  z-index:100;
  background-color:#fff;
  .logo-container {
    max-width:80px;
    display:inline-block;
    float:left;
  }
  nav {
    float:right;
    position:relative;
    top:22px;
    a {
      font-size:18px;
      margin-left:2rem;
      text-transform:uppercase;
      color:$font-color;
      font-family:$font-stack-b;
      font-weight:bold;
      color:$dark-grey-text;
      &:hover {
        color:$font-color;
      }
      &.button {
        @include transition(all .1s linear);
        @include border-radius(4px);
        border:1px solid $wine;
        color:$wine;
        padding:.5rem .7rem;
        &:hover {
          color:#fff;
          background-color:$wine;
        }
      }
    }
  }
}


.modal-rsvp {
  .modal-header {
    h3 {
      position:relative;
      top:3px;
    }
  }
  .attending {
    .radio {
      margin-top:.5rem;
    }
  }
}