.layout-content {
  padding-top:71px;
  .hero {
    position:relative;
    .img {
      @include opacity(0);
      @include transition(opacity .5s ease-in-out);
      position:absolute;
      background-size:cover;
      z-index:10;
      top:0px;
      left:0px;
      right:0px;
      bottom:0px;
      &.active {
        @include opacity(1);
      }
      &.img-1 {
        background-image: image-url('pic-1.jpg');
      }
      &.img-2 {
        background-image: image-url('pic-2.jpg');
      }
      &.img-3 {
        background-image: image-url('pic-3.jpg');
      }
      &.img-4 {
        background-image: image-url('pic-4.jpg');
      }
      &.img-5 {
        background-image: image-url('pic-5.jpg');
      }
      &.img-6 {
        background-image: image-url('pic-6.jpg');
      }
      &.img-7 {
        background-image: image-url('pic-7.jpg');
      }
      &.img-8 {
        background-image: image-url('pic-8.jpg');
      }
      &.img-9 {
        background-image: image-url('pic-9.jpg');
      }
      &.img-10 {
        background-image: image-url('pic-10.jpg');
      }
      &.img-11 {
        background-image: image-url('pic-11.jpg');
      }
      &.img-12 {
        background-image: image-url('pic-12.jpg');
      }
      &.img-13 {
        background-image: image-url('pic-13.jpg');
        background-position: center bottom;
      }
      &.img-14 {
        background-image: image-url('pic-14.jpg');
      }
    }
    .container {
      position:relative;
      z-index:11;
      text-align:center;
      .text {
        @include opacity(0);
        @include transition(all 1s ease-in-out);
        font-family:$font-stack-b;
        font-size:4rem;
        line-height:5.5rem;
        color:#fff;
        position:relative;
        top:30px;
        text-shadow: 0 1px 2px rgba(0,0,0,.1);
        &.in {
          @include opacity(1);
          top:0px;
        }
      }
    }
  }
  .section {
    padding:7rem 0;
    h2 {
      @include font-size(3);
      margin-bottom:3rem;
      text-align:center;
      font-family:$font-stack-b;
      font-weight:600;
      span {
        display:inline-block;
        &:after, &:before {
          display:inline-block;
          content:"";
          width:60px;
          height:35px;
          background-size:60px 35px;
        }
        &:after {
          background-image:image-url('leaf-right.png');
          margin-left:18px;
        }
        &:before {
          background-image:image-url('leaf-left.png');
          margin-right:24px;
        }
      }
    }
    .text-block {
      @include font-size(1.25);
      max-width:800px;
      text-align:justify;
      margin:0 auto;
    }
    &.champagne {
      background-color:$champagne;
    }
    &.our-story {
      
    }
    &.wedding-party {
      .party-member {
        text-align:center;
        margin-top:3.5rem;
        img {
          @include border-radius(99px);
          width:20%;
        }
        .name {
          @include font-size(1.125);
          font-weight:500;
          margin-bottom:.75rem;
          margin-top:1.25rem;
        }
        .description {
          color:$grey-text;
          text-align:justify;
          max-width:85%;
          margin:0 auto;
        }
      }
    }
  }
}