$wine: #61153b;

$champagne:#f0f0e9;
$champagne-dark: #deded3;

$blue: #3498db;
$blue-light: lighten($blue, 3%);
$blue-dark: darken($blue, 3%);

$red: #e74c3c; 
$red-light: lighten($red, 2%);
$red-dark: darken($red, 2%);

$orange: #e67e22; 
$orange-light: lighten($orange, 3%);
$orange-dark: darken($orange, 3%);

$yellow: #f1c40f; 
$yellow-light: lighten($yellow, 2%);
$yellow-dark: darken($yellow, 2%);

$beige: #f7f5f2; 
$beige-light: lighten($beige, 3%);
$beige-dark: darken($beige, 3%);

$green: #2ecc71; 
$green-light: lighten($green, 3%);
$green-dark: darken($green, 3%);

$turquoise: #63c7a9; 
$turquoise-light: lighten($turquoise, 3%);
$turquoise-dark: darken($turquoise, 3%);

$purple: #9b59b6; 
$purple-light: lighten($purple, 7%);
$purple-dark: darken($purple, 7%);

$grey: #ecf0f1;
$grey-light: lighten($grey, 3%);
$grey-dark: darken($grey, 3%); 

$twitter: #1D81AD; 
$twitter-light: lighten($twitter, 3%);
$twitter-dark: darken($twitter, 3%);

$facebook: #30497E; 
$facebook-light: lighten($facebook, 4%);
$facebook-dark: darken($facebook, 4%);


// Imports the base -- there order in which these get included is important!
@import "base/importer";

// Imports layout items (header/content/footer)
@import "layout/importer"